@model IEnumerable<HortifruitiSF.Application.Dto.VendaDto>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-6">
            <form class="form-horizontal">
            <fieldset>
                <legend><b>Vendas por Período</b></legend>
                <div class="form-group">
                    <label for="dataInicial" class="col-lg-6 control-label">Data Inicial</label>
                    <div class="col-lg-10">
                        <input type="date" name="dataInicial" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="dataFinal" class="col-lg-6 control-label">Data Final</label>
                    <div class="col-lg-10">
                        <input type="date" name="dataFinal" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<h1>Venda</h1>

<p>
    <a asp-action="Create">Venda</a>
</p>

<table class="table">
    <thead>
        <tr>
             <th>
               Quantidade Vendida
            </th>
             <th>
              Produto 
            </th> 
             <th>
              Valor Total 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.QuantidadeVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>   
             <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td> 
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VendaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VendaId">Delete</a>
             
            </td>
        </tr>
}
    </tbody>
</table>
